@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("background1.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: auto;
    height: 70vh;
    position: relative;
    z-index: 10;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    max-width: 80vw;
    margin: auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 62px;
}

nav img {
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;
}

nav button {
    z-index: 10;
    position: relative;
}

.hero {
    font-family: 'Martal Sans', sans-serif;
    height: calc(100% - 62px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}

/* use of child selctor */
.hero>:nth-child(1) {
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.hero>:nth-child(2) {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

.hero>:nth-child(3) {
    font-weight: 400;
    font-size: 23px;
    text-align: center;
}

.separation {
    height: 7px;
    background-color: rgb(46, 44, 44);
}

.btn {
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border: 1px solid white;
    cursor: pointer;

}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
}

.hero-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

}

.main input {
    padding: 7px 101px 8px 14px;
    font-weight: 900;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
    color: white;

}

.btn-red-sm {
    background-color: red;
    color: white;
}

.first {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 50px;
    padding-top: 80px;
    color: white;
    align-items: center;
}

.secImg {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-left: 100px;
    margin-right: 30px;
    position: relative;
}

.secImg img {
    max-width: 100%; /* Ensure image doesn't overflow its container */
    z-index: 1; /* Ensure the image appears behind the video */
}

.secImg video {
    max-width: 100%; /* Ensure video doesn't overflow its container */
    position: absolute;
    top: 4rem;
    left: 0;
    z-index: -1; /* Ensure the video appears above the image */
}

.first .sec {
    display: flex;
    flex-direction: column;
}

.first .sec h2{
    font-size: 48px;
    font-weight: bolder;
}

.first .sec span{
    font-size: 24px;
}
.separator {
    height: 7px;
    background-color: rgb(46, 44, 44);
}
